@keyframes design {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

@keyframes pricing {
    from {
        transform: scale(1);        
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 10px orange;
    }
    to {
        transform: scale(1);
    }
}