@media (max-width: 1200px) {

    .contact {
        &__input-wrapper {
            margin-right: 30px;
        }
    }

    .customers {
        &__item {
            flex: 0 0 27%;
        }
    }
}

@media (max-width: 991px) {

    .header {
        min-height: 575px;
        padding: 145px 0 78px 0;
        &__form {
            input {
                margin-top: 15px;
                height: 24px;
                &:nth-child(3) {
                    margin-top: 15px;
                }
            }
        }
        &__form-title {
            font-size: 15px;
            padding: 11px 0 11px 0;
        }
        &__title {
            margin-top: 20px;
            font-size: 27px;
        }
        &__line:before {
            margin-top: 25px;            
        }
        &__subtitle {
            margin-top: 24px;
            font-size: 14px;
        }
    }

    .button {
        margin-top: 20px;
        &_form {
            margin-top: 28px;
            height: 45px;
        }
    }

    .social {
        &__descr {
            font-size: 12px;
            span {
                font-size: 16px;
            }
        }
        &__icon {
            div {
                max-width: 35px;
            }
        }
    }

    .sentence {
        min-height: 300px;
        padding: 68px 0 87px 0;
        &__tab {
            line-height: 80px;
        }
        .title {
            font-size: 18px;
        }
        .subtitle {
            margin-top: 17px;
            font-size: 12px;
            line-height: 17px;
        }
        .button {
            &_dwn {
                margin-top: 12px;
            }
        }
        .line::before {
            margin-top: 12px;
        }
        &__descr2tab, &__descr2tab:last-child {
            margin-top: 10px;
        }
        &__logo {
            margin-right: 16px;
        }
        &__subdescr {
            font-size: 12px;
        }
    }

    .awesome {
        min-height: 490px;
        padding: 55px 0 65px 0;
        .title {
            &_awesome {
                font-size: 30px;
            }
        }
        &__line::before {
            margin: 10px auto;
        }
        .subtitle {
            &_awesome {
                margin-top: 15px;
            }
        }
        &__wrapper {
            margin-top: 43px;
        }
        &__img {
            width: 30%;
        }
        &__title {
            margin-top: 19px;
        }
        &__subtitle {
            margin-top: 10px;
            font-size: 13px;
        }
    }

    .pricing {
        min-height: 700px;
        padding: 40px 0 60px 0;
        .title {
            &_pricing {
                font-size: 30px;
            }
        }
        &__line::before {
            margin: 10px auto;
        }
        .subtitle {
            &_pricing {
                margin-top: 15px;
            }
        }
        &__wrapper {
            margin-top: 45px;
        }
        &__title {
            font-size: 18px;
        }
        &__price {
            font-size: 80px;
            line-height: 82px;
        }
        &__items {
            :nth-child(n+5) {
                font-size: 12px;
                line-height: 38px;
            }
        }
    }

    .customers {
        padding: 50px 0 101px 0;
        .title {
            &_customers {
                font-size: 28px;
            }
        }
        &__line::before {
            margin: 10px auto;
        }
        .subtitle {
            &_customers {
                margin-top: 15px;
            }
        }
        &__wrapper {
            margin-top: 35px;
        }
        &__item {
            flex: 0 0 30%;
        }
    }
}

@media (max-width: 767px) {
    
    .navbar {
        &__menu {
            flex: 0 0 60%;
        }
        &__link {
            font-size: 10px;
        }
        &__pic {
            width: 55px;
        }
    }

    .header {        
        min-height: 400px;
        padding: 115px 0 58px 0;
        &__img {
            width: 30%;
        }
        &__title {
            font-size: 17px;
        }
        &__line::before {
            margin-top: 5%;
            height: 1px;
        }
        &__subtitle {
            margin-top: 11px;
            font-size: 11px;
        }
        &__form-title {
            font-size: 11px;
            padding: 8px 0 8px 0;
        }
        &__form {
            input {
                margin-top: 12px;
                height: 21px;
                font-size: 10px;
                &:nth-child(3) {
                    margin-top: 12px;
                }
            }
        }
    }

    .social {
        min-height: 88px;
        padding: 13px 0 13px 0;
        &__descr {
            font-size: 9px;
            span {
                font-size: 13px;
            }
        }
        &__icon {
            div {
                max-width: 26px;
            }
        }
    }

    .sentence {
        min-height: 250px;
        padding: 34px 0 45px 0;
        &__content {
            flex: 0 0 87%;
        }
        &__tab {
            line-height: 58px;
            font-size: 11px;
        }
        .title {
            font-size: 12px;
        }
        .subtitle {
            margin-top: 5px;
            font-size: 9px;
            line-height: 12px;
        }
        .line::before {
            margin-top: 0;
            height: 2px;
        }
        &__subdescr {
            font-size: 8px;
        }
        &__logo {
            width: 12%;
            margin-right: 10px;
        }
        &__descr2tab, &__descr2tab:last-child {
            margin-top: 2px;
        }
    }

    .awesome {
        min-height: 340px;
        padding: 40px 0 50px 0;
        .title {
            font-size: 22px;
        }
        &__line::before {
            margin: 0 auto;
        }
        .subtitle {
            margin-top: 10px;
            font-size: 11px;
        }
        &__wrapper {
            margin-top: 25px;
        }
        &__items {
            margin-right: 10px;
        }
        &__img {
            width: 23%;
        }
        &__title {
            margin-top: 8px;
            font-size: 14px;
        }
        &__subtitle {
            font-size: 10px;
        }
    }

    .pricing {
        min-height: 500px;
        padding: 18px 0 29px 0;
        .title {
            font-size: 22px;
        }
        &__line::before {
            margin: 0 auto;
        }
        .subtitle {
            margin-top: 10px;
            font-size: 11px;
        }
        &__title {
            font-size: 14px;
            line-height: 33px;
        }
        &__price {
            font-size: 70px;
            line-height: 70px;
            span {
                font-size: 25px;
            }
        }
        &__payment {
            font-size: 10px;
            line-height: 28px;
        }
        &__most-popular {
            font-size: 10px;
            line-height: 28px;
        }
        &__popular {
            height: 3px;
        }
        &__items {
            :nth-child(n+5) {
                font-size: 9px;
                line-height: 25px;
            }
        }
    }

    .customers {
        min-height: 217px;
        padding: 20px 0 43px 0;
        .title {
            font-size: 22px;
        }
        &__line::before {
            margin: 0 auto;
        }
        .subtitle {
            margin-top: 10px;
            font-size: 11px;
        }
        &__text {
            padding: 11px 13px 23px 13px;
            font-size: 9px;
        }
        .photo-name {
            &__descr {
                font-size: 10px;
                span {
                    font-size: 14px;
                }
            }
        }
    }

    .design {
        min-height: 240px;
        padding: 50px 0 40px 0;
        &__title {
            font-size: 22px;
        }
        &__line::before {
            margin-top: 0;
            height: 2px;
        }
        &__subtitle {
            margin-top: 8px;
            font-size: 13px;
        }
    }

    .contact {
        min-height: 417px;
        padding: 40px 0 44px 0;
        .title {
            font-size: 22px;
        }
        &__line::before {
            margin: 0 auto;
        }
        .subtitle {
            margin-top: 10px;
            font-size: 11px;
        }
        &__form {
            margin-top: 45px;
        }
        &__input-wrapper {
            input {
                font-size: 10px;
            }
        }
        &__text {
            font-size: 10px;
        }
    }

    .button {
        &_header {
            margin-top: 10px;
            width: 100px;
            height: 30px;
            font-size: 10px;
        }
        &_form {
            width: 100%;
            height: 36px;
            font-size: 12px;            
        }
        &_dwn {
            height: 33px;
            font-size: 13px;
        }
        &_design {
            margin-top: 10px;
            width: 100px;
            height: 30px;
            font-size: 10px;
        }
        &_contact {
            margin-top: 30px;
            height: 33px;
            font-size: 13px;
        }
    }
}

@media (max-width: 575px) {

    .button {
        width: 100%;
        height: 50px;
        font-size: 20px;
        &_header {
            margin: 20px auto 0;
        }
    }

    .navbar {
        &__wrapper {
            position: relative;
        }
        &__pic {
            width: 70px;
        }
        &__menu {
            position: fixed;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
            left: -100%;
            width: 75%;
            height: 100vh;
            padding: 20px 15px;
            background-color: rgba(0,0,0, .8);
            transition: 0.6s all;
            &_active {
                left: 0;
            }
        }
        &__item {
            padding-right: 0;
            border: none;
            margin: 25px 0;
        }
        &__link {
            font-size: 20px;
        }            
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 35px;
        height: 20px;
        span {
            display: block;
            height: 3px;
            width: 100%;
            background-color: #fff; 
            margin-bottom: 5px;
            transition: 0.5s all;
        }
        &_active {
            span {
                margin-bottom: -2px;
                &:nth-child(1) {
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }

    .header {
        &__wrapper {
            flex-direction: column;
        }
        &__promotext {
            align-items: center;
        }
        &__img {
            width: 50%;
        }
        &__title {
            font-size: 20px;
        }
        &__subtitle {
            text-align: center;
            font-size: 15px;
        }
        &__line::before {
            width: 300px;
        }
        &__wrapper-form {
            width: 80%;
        }
        &__form-title {
            font-size: 20px;
        }
    }

    .social {
        display: none;
        &_bottom {
            display: block;
        }
        &__icon {
            &_bottom {
                width: 100%;
                div {
                    max-width: 30px;
                }
            }
        }
    }

    .sentence {
        &__wrapper {
            flex-direction: column;
        }
        &__tabs {
            flex-direction: row;
        }
        &__tab {
            line-height: 47px;
            width: 50px;
            height: 50px;
        }
        &__content {
            flex-direction: column;
            text-align: center;
        }
        &__wrapper-text {
            align-items: center;
            .subtitle {
                text-align: justify;
            }
        }
        &__pic {
            margin-top: 20px;
        }
        .title {
            margin-top: 14px;
        }
    }

    .awesome {
        &__wrapper {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        &__items {
            margin: 10px auto 0;
        }
        &__title {
            font-size: 25px;
        }
        &__subtitle {
            font-size: 15px;
        }
        .title {
            font-size: 24px;
        }
        .subtitle {
            font-size: 15px;
        }
    }

    .pricing {
        &__wrapper {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
        }
        &__items {
            width: 85%;
            margin-top: 40px;
            &:first-child {
                margin-top: 0;
            }
            div {
                border-radius: 5px;
                &:nth-child(n+5) {
                    font-size: 13px;
                    line-height: 35px;
                    border: 1px solid black;
                }
            }
        }
        &__title {
            font-size: 26px;
            line-height: 45px;    
        }
        &__payment {
            font-size: 14px;
        }
        &__most-popular {
            line-height: 40px;
        }
    }

    .customers {
        &__wrapper {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        &__item {
            margin-top: 50px;
            &:first-child {
                margin-top: 0;
            }
        }
        &__bg {
            max-height: 100%;
        }&__text {
            font-size: 16px;
            line-height: 30px;
        }
        .photo-name {
            &__wr-img {
                flex: 0 0 30%;
            }
            &__descr {
                font-size: 16px;
                span {
                    font-size: 24px;
                }
            }
        }
    }

    .contact {
        &__form {
            flex-direction: column;
            flex-wrap: nowrap;
        }
        &__input-wrapper {
            margin-right: 0;
            width: 85%;
            input {
                font-size: 15px;
            }
        }
        &__text {
            margin-top: 40px;
            width: 85%;
            font-size: 15px;
        }
    }
}