.button {
    &_header {
        margin-top: 44px;
        width: 135px;
        height: 42px;
        border: 1px solid white;
        background: none;
        font-family: OpenSans;
        font-size: 15px;
        font-weight: 600;
        color: #ffffff;
    }
    &_dwn {
        margin-top: 51px;
        width: 121px;
        height: 46px;
        font-family: OpenSans;
        font-size: 15px;
        border: none;
        border-radius: 5px;
        font-weight: 600;
        color: #ffffff;
        background-color: #ff8b38;
    }
    &_form {
        width: 100%;
        height: 54px;
        margin-top: 49px;
        font-family: OpenSans;
        font-size: 15px;
        font-weight: 600;
        color: #ffffff;
        background-color: #ff9b51;
        border: none;
    }
    &_design {
        margin-top: 33px;
        width: 135px;
        height: 42px;
        border: 1px solid white;
        background: none;
        font-family: OpenSans;
        font-size: 15px;
        font-weight: 600;
        color: #ffffff;
    }
    &_contact {
        margin-top: 43px;
        width: 148px;
        height: 46px;
        font-family: OpenSans;
        font-size: 15px;
        border: none;
        border-radius: 5px;
        font-weight: 600;
        color: #ffffff;
        background-color: #ff8b38;
    }
}