.contact {
    min-height: 612px;
    padding: 108px 0 80px 0;
    &__line::before {
        content: '';
        display: block;
        margin: 30px auto;
        width: 74px;
        height: 3px;
        background-color: #ff8b38;
    }
    &__form {
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .error {
            border: 1px solid red;
        }
        label.error {
            text-align: center;
            border: none;
            font-size: 12px;
        }
    }
    &__input-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 0 47%;
        min-height: 145px;
        margin-right: 60px;
        input {
            font-family: OpenSans;
            padding-left: 10px;
            font-size: 12px;
            font-weight: 400;
            line-height: normal;
            text-align: left;
            color: #bdbdbd;
            border: none;
            border-bottom: 1px solid #d6d6d6;
            border-radius: 10px;
        }
    }
    &__text {
        flex: 0 0 47%;
        min-height: 145px;
        font-family: OpenSans;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        color: #bdbdbd;
        border: none;
        border-bottom: 1px solid #d6d6d6;
    }
}