.customers {
    min-height: 591px;
    padding: 108px 0 101px 0;
    &__line::before {
        content: '';
        display: block;
        width: 74px;
        height: 3px;
        background-color: #ff8b38;
        margin: 30px auto;
    }
    &__wrapper {
        margin-top: 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 0 25%;
    }
    &__bg {
        background: url('../../icons/customers/reviews.png') 0 0/100% 100% no-repeat;
        max-height: 147px;
    }
    &__text {
        padding: 14px 13px 41px 13px;
        height: 100%;
        font-family: OpenSans;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        font-style: oblique;
        color: #86878b;
    }   
    .photo-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 8px;
        &__descr {
            margin-left: 17px;
            font-family: OpenSans;
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
            text-align: left;
            color: #86878b;
            span {
                font-family: OpenSans;
                font-size: 20px;
                font-weight: 700;
                line-height: normal;
                text-align: left;
                color: #333333;
            }
        }
        &__wr-img {
            flex: 0 0 26%;
        }
        &__img {
            max-width: 100%;
        }
    }
}