.design {
    min-height: 320px;
    padding: 74px 0 63px 0;
    background: url(../../img/bg/bgdesign.jpg) center (center/cover) no-repeat;
    &__promotext {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        margin-top: 33px;
        font-family: Raleway;
        font-size: 36px;
        font-weight: 400;
        text-align: left;
        color: #ffffff;
    }
    &__line::before {
        content: '';
        display: block;
        margin-top: 26px;
        width: 74px;
        height: 3px;
        background-color: white;
    }
    &__subtitle {
        margin-top: 23px;
        opacity: 0.8;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 300;
        text-align: left;
        line-height: 1.44;
        color: rgba(255, 255, 255, 0.8);
    } 
}