.navbar {
    position: fixed;
    width: 100%;
    min-height: 70px;
    padding: 21px 0 22px 0;
    background-color: #000000;
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        margin: 0;
    }
    &__item {
        list-style-type: none;
        padding-right: 48px;
        &:last-child {
            padding-right: 0;
        }
    }
    &__link {
        font-size: 14px;
        font-weight: 600;
        text-align: right;
        color: rgba(255, 255, 255, 0.69);
    }
}